[package]
name = "pallet-frequency-tx-payment-runtime-api"
version = "1.15.2-rc2+polkadot1.13.0"
description = "A package that adds Runtime Api for payment pallet"
authors = ["Frequency"]
license = "Apache-2.0"
publish = false
homepage = "https://frequency.xyz"
repository = "https://github.com/frequency-chain/frequency/"
edition = "2021"

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
# Substrate
sp-api = { workspace = true }
sp-std = { workspace = true }
frame-support = { workspace = true }
# Frequency related dependencies
common-primitives = { default-features = false, path = "../../../../common/primitives" }
pallet-transaction-payment = { workspace = true }

[features]
default = ['std']
std = [
  "parity-scale-codec/std",
  "sp-api/std",
  "sp-std/std",
  "frame-support/std",
  "common-primitives/std",
  "pallet-transaction-payment/std",
]
