rust 1.68.2
make 4.3
cmake 3.24.1
protoc 3.12.4
# clang 14.0.6 # only plugin I could find for clang and not some subset of clang did not work, it was located here https://github.com/srivathsanmurali/asdf-clang.git

