[package]
name = "pallet-schemas-runtime-api"
version = "1.9.0+polkadot1.1.0"
description = "RPC runtime package for schemas"
authors = ["Frequency"]
license = "Apache-2.0"
publish = false
homepage = "https://frequency.xyz"
repository = "https://github.com/libertyDSNP/frequency/"
edition = "2021"

[dependencies]
# Substrate
sp-runtime = { workspace = true }
sp-api = { workspace = true }
sp-std = { workspace = true }
frame-support = { workspace = true }
# Frequency related dependencies
common-primitives = { default-features = false, path = "../../../../common/primitives" }

[features]
default = ["std"]
std = [
	"sp-api/std",
	"frame-support/std",
	"common-primitives/std",
	"sp-std/std",
]
