[package]
authors = ["Frequency"]
description = "Common Runtime for Frequency parachain"
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = "common-runtime"
repository = "https://github.com/LibertyDSNP/frequency/"
version = "1.10.0+polkadot1.1.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Frequency
parity-scale-codec = { workspace = true, features = [
	"derive",
] }
common-primitives = { default-features = false, path = "../../common/primitives" }
scale-info = { workspace = true, features = [
	"derive",
] }
smallvec = { workspace = true } 
# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-weights = { workspace = true }
# Substrate pallets
pallet-balances = { workspace = true }
pallet-collective = { workspace = true }
pallet-democracy = { workspace = true }
pallet-multisig = { workspace = true }
pallet-preimage = { workspace = true }
pallet-scheduler = { workspace = true }
pallet-session = { workspace = true }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-treasury = { workspace = true }
pallet-utility = { workspace = true }
# cumulus
cumulus-primitives-core = { workspace = true }
pallet-collator-selection = { workspace = true }
pallet-time-release = { path = "../../pallets/time-release", default-features = false }

[features]
default = ["std"]
frequency = []
frequency-rococo-testnet = []
frequency-rococo-local = []
frequency-no-relay = []
runtime-benchmarks = [
	"pallet-collective/runtime-benchmarks",
]
std = [
	"frame-support/std",
	"frame-system/std",
	"cumulus-primitives-core/std",
	"pallet-democracy/std",
	"pallet-collator-selection/std",
	"pallet-collective/std",
	"pallet-multisig/std",
	"pallet-time-release/std",
	"pallet-session/std",
	"pallet-balances/std",
	"pallet-treasury/std",
	"pallet-utility/std",
	"pallet-timestamp/std",
	"pallet-scheduler/std",
	"sp-core/std",
	"common-primitives/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"sp-std/std",
	"pallet-preimage/std",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-collective/try-runtime",
	"pallet-democracy/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-time-release/try-runtime",
]
