[package]
name = "pallet-time-release"
description = "Provides scheduled balance freezing mechanism, in a *graded release* way."
authors = ["Frequency"]
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
repository = "https://github.com/frequency-chain/frequency/"
publish = false
version = "0.0.1-rc8+polkadot1.9.0"

[dependencies]
parity-scale-codec = { workspace = true, features = ["max-encoded-len"] }
scale-info = { workspace = true, features = ["derive"] }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
sp-core = { workspace = true }
log = { workspace = true, default-features = false }

[dev-dependencies]
common-runtime = { path = "../../runtime/common", default-features = false }
chrono = { workspace = true }
pallet-balances = { workspace = true }
common-primitives = { default-features = false, path = "../../common/primitives" }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "frame-support/std",
  "frame-system/std",
  "scale-info/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
  "sp-core/std",
  "frame-benchmarking/std",
  "common-primitives/std",
  "pallet-balances/std",
  "common-runtime/std",
]
runtime-benchmarks = [
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "common-primitives/runtime-benchmarks",
  "common-runtime/runtime-benchmarks",
]
try-runtime = ["frame-support/try-runtime", "frame-system/try-runtime"]
