[package]
name = "pallet-stateful-storage-rpc"
version = "1.13.1+polkadot1.13.0"
description = "RPC package for stateful storage"
authors = ["Frequency"]
license = "Apache-2.0"
publish = false
homepage = "https://frequency.xyz"
repository = "https://github.com/frequency-chain/frequency/"
edition = "2021"

[dependencies]
jsonrpsee = { workspace = true, features = ["client-core", "server", "macros"] }
# Frequency crates
pallet-stateful-storage-runtime-api = { path = "../runtime-api", default-features = false }
common-primitives = { path = '../../../../common/primitives', default-features = false }
common-helpers = { path = '../../../../common/helpers', default-features = false }
# Substrate crates
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-api = { workspace = true }
sp-rpc = { workspace = true }
sp-runtime = { workspace = true }
sp-blockchain = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "time", "parking_lot"] }
sc-client-api = { workspace = true }

[features]
default = ["std"]
std = [
  "sp-std/std",
  "sp-api/std",
  "sp-core/std",
  "sp-runtime/std",
  "pallet-stateful-storage-runtime-api/std",
  "common-primitives/std",
  "common-helpers/std",
  "frame-support/std",
]
