[package]
name = "system-runtime-api"
version = "1.17.0-rc3+polkadotstable2503"
description = "Additional RPC package for Frequency"
authors = ["Frequency"]
license = "Apache-2.0"
publish = false
homepage = "https://frequency.xyz"
repository = "https://github.com/frequency-chain/frequency/"
edition = "2021"

[dependencies]
serde_json = { workspace = true, features = ["alloc"] }
# Substrate
sp-runtime = { workspace = true }
sp-api = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
# Frequency related dependencies
common-primitives = { default-features = false, path = "../../common/primitives" }

[features]
default = ["std"]
std = [
    "sp-api/std",
    "frame-system/std",
    "frame-support/std",
    "common-primitives/std",
    "sp-runtime/std",
]

[lints]
workspace = true
