# Node Key Alice: `subkey inspect //Alice`
# Node Key Bob: `subkey inspect //Bob`
x-polkadot-image: &polkadot-image "parity/polkadot:v1.13.0"

services:
  relay_paseo_alice:
    container_name: alice
    image: *polkadot-image
    platform: linux/x86_64
    hostname: relay_alice
    ports:
      - "30335:30335" # p2p port
      - "9946:9944" # ws and rpc port
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/localhost/9944 && echo -e \"GET /health HTTP/1.1\\r\\nHost: localhost\\r\\nConnection: close\\r\\n\\r\\n\" >&3 && grep -q 200 <&3'"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - type: bind
        source: ../resources/paseo-local.json
        target: /chainspec.json
        read_only: true
      - alice_polkadot:/polkadot
    command: >
      --chain=/chainspec.json
      --node-key=e5be9a5092b81bca64be81d212e7f2f9eba183bb7a90954f7b76361f6edb5c0a
      --wasm-execution=compiled
      --base-path=/data
      --port=30335
      --rpc-port=9944
      --rpc-external
      --rpc-cors=all
      --rpc-methods=Unsafe
      --alice
      -ltxpool=trace
    restart: unless-stopped

  relay_paseo_bob:
    container_name: bob
    image: *polkadot-image
    platform: linux/x86_64
    hostname: relay_bob
    ports:
      - "30336:30336" # p2p port
      - "9947:9944" # ws and rpc port
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/localhost/9944 && echo -e \"GET /health HTTP/1.1\\r\\nHost: localhost\\r\\nConnection: close\\r\\n\\r\\n\" >&3 && grep -q 200 <&3'"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - type: bind
        source: ../resources/paseo-local.json
        target: /chainspec.json
        read_only: true
      - bob_polkadot:/polkadot
    command: >
      --chain=/chainspec.json
      --node-key=398f0c28f98885e046333d4a41c19cee4c37368a9832c6502f6cfd182e2aef89
      --base-path=/data
      --wasm-execution=compiled
      --port=30336
      --rpc-port=9944
      --rpc-external
      --rpc-cors=all
      --rpc-methods=Unsafe
      --bob
      --log="main,info"
    restart: unless-stopped

volumes:
  alice_polkadot:
  bob_polkadot:
