[package]
authors = ["Frequency"]
description = "A package that defines common primitives used in runtime and RPCs"
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = "common-primitives"
publish = false
repository = "https://github.com/LibertyDSNP/frequency/"
version = "0.9.30"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
codec = { package = "parity-scale-codec", version = "3.1.5", default-features = false, features = [
  "derive",
] }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.30" }
impl-serde = { version = "0.4.0", default-features = false }
scale-info = { version = "2.2.0", default-features = false, features = [
  "derive",
] }
serde = { version = "1.0.145", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.86", default-features = false, features = [
  "alloc",
] }
smallvec = "1.10.0"
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
did-parser = { git = "https://github.com/davebryson/did-parser", default-features = false, commit = "0774161e399d96c38100b8bfbbb26b110a36bbaf" }

[features]
default = ['std']
runtime-benchmarks = []
std = [
  'codec/std',
  'frame-support/std',
  'sp-std/std',
  'sp-runtime/std',
  'sp-api/std',
  'serde/std',
  'serde_json/std',
]
