[package]
authors = ['Frequency Team']
description = 'FRAME Message Storage Pallet'
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = 'pallet-messages'
publish = false
repository = "https://github.com/LibertyDSNP/frequency/"
version = '0.1.0'

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = {package = "parity-scale-codec", version = "3.1.5", default-features = false, features = [
  "derive",
]}
log = {version = "0.4.17", default-features = false}
scale-info = {version = "2.1.2", default-features = false, features = [
  "derive",
]}
# Substrate
frame-benchmarking = {git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.29"}
frame-support = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
frame-system = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
sp-core = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
sp-io = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
sp-std = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29"}
# Frequency related dependencies
common-primitives = {default-features = false, path = "../../common/primitives"}
#ORML
orml-utilities = {git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, branch = "polkadot-v0.9.29"}

[dev-dependencies]
pallet-msa = {path = "../msa/"}
pallet-schemas = {path = "../schemas", default-features = false}

[features]
default = ['std']
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-schemas/runtime-benchmarks",
]
std = [
  'codec/std',
  'scale-info/std',
  'sp-std/std',
  'sp-core/std',
  'sp-io/std',
  'sp-runtime/std',
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'common-primitives/std',
  "pallet-schemas/std",
]
try-runtime = ['frame-support/try-runtime']
