[package]
authors = ["Frequency"]
build = "build.rs"
description = "Substrate node for Frequency"
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = "frequency"
repository = "https://github.com/LibertyDSNP/frequency/"
version = "1.7.1-rc2+polkadot0.9.42"

[[bin]]
name = "frequency"
path = "src/main.rs"

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.42" }

[dependencies]
# Frequency Runtime
frequency-cli = { path = "cli" }
frequency-service = { path = "service" }

[features]
std = []
default = []
runtime-benchmarks = ["frequency-cli/runtime-benchmarks"]
frequency = ["frequency-service/frequency", "frequency-cli/frequency"]
frequency-no-relay = [
  "frequency-service/frequency-no-relay",
  "frequency-cli/frequency-no-relay"
]
frequency-rococo-local = [
  "frequency-service/frequency-rococo-local",
  "frequency-cli/frequency-rococo-local"
]
frequency-rococo-testnet = [
  "frequency-service/frequency-rococo-testnet",
  "frequency-cli/frequency-rococo-testnet"
]
frequency-lint-check = [
  "frequency-service/frequency-lint-check",
  "frequency-cli/frequency-lint-check"
]
