[package]
authors = ["Frequency"]
description = "Stateful Storage Pallet"
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = "pallet-stateful-storage"
publish = false
repository = "https://github.com/frequency-chain/frequency/"
version = "1.17.0-rc1+polkadotstable2503"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
log = { workspace = true }
lazy_static = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
twox-hash = { workspace = true, features = ["digest_0_10"] }
# Substrate
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
# Frequency related dependencies
common-primitives = { default-features = false, path = "../../common/primitives" }
common-runtime = { path = "../../runtime/common", default-features = false }

[dev-dependencies]
env_logger = { workspace = true }
pretty_assertions = { workspace = true }
sp-keystore = { workspace = true }
hex = { workspace = true, default-features = false, features = ["alloc"] }

[features]
default = ['std']
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "common-primitives/runtime-benchmarks",
  "common-runtime/runtime-benchmarks",
]
std = [
  'parity-scale-codec/std',
  'scale-info/std',
  'sp-core/std',
  'sp-io/std',
  'sp-runtime/std',
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'common-primitives/std',
  "common-runtime/std",
]
try-runtime = ['frame-support/try-runtime']
test = []

[lints]
workspace = true
