[package]
authors = ["Frequency Team"]
description = "A package that defines common helper modules used in Frequency"
edition = "2021"
homepage = "https://frequency.xyz"
license = "Apache-2.0"
name = 'common-helpers'
publish = false
repository = "https://github.com/LibertyDSNP/frequency/"
version = "0.1.0"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
apache-avro = { version = "0.14.0", features = ["snappy"] }
thiserror = "1.0.34"
sha2 = "0.10.5"
rayon = "1.5.3"
jsonrpsee = { version = "0.15.1", features = ["server", "macros"] }
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29" }
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.29" }

[dev-dependencies]
proptest = "1.0.0"

[features]
default = ['std']
std = [
  'sp-runtime/std',
  'sp-api/std',
]
