name: Run Post PR Merge Actions
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
      - capacity-development
    paths:
      - "js/api-augment/**"
      - "**/*.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
env:
  BUILD_PROFILE: release
  RUST_TOOLCHAIN: nightly-2022-09-22

jobs:
  publish-js-api-augment-rc:
    name: Merge - Publish JS API Augment Release Candidate
    env:
      HOME: /root
    runs-on: [self-hosted, Linux, X64, build]
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
      - name: Reset Runner
        uses: ./.github/workflows/common/reset-self-hosted-runner
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@e12eda571dc9a5ee5d58eecf4738ec291c66f295
        with:
          targets: wasm32-unknown-unknown
          toolchain: ${{env.RUST_TOOLCHAIN}}
      - name: Check Out Repo
        uses: actions/checkout@v3
      - name: Output Metadata
        # Run the cargo command and ignore any extra lines outside of the json result
        run: CARGO_INCREMENTAL=0 RUSTFLAGS="-D warnings" cargo run --features frequency-rococo-local -- export-metadata  --chain=frequency-local --tmp ./js/api-augment/metadata.json
      - name: Set up NodeJs
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
          cache-dependency-path: js/api-augment/package-lock.json
      - name: Install
        run: npm ci
        working-directory: js/api-augment
      - name: Build
        run: npm run build
        working-directory: js/api-augment
        env:
          FULL_SHA: ${{github.sha}}
      - name: Version Package
        run: npm version --new-version "v0.0.0-${FULL_SHA:0:6}" --no-git-tag-version
        working-directory: js/api-augment/dist
        env:
          FULL_SHA: ${{github.sha}}
      - name: Publish on NPM @next
        run: npm publish --tag next --access public
        working-directory: js/api-augment/dist
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}

  calc-code-coverage-main:
    name: Merge - Calculate Code Coverage
    runs-on: ubuntu-20.04
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
      - name: Install Required Packages
        run: |
          sudo apt-get update
          sudo apt install -y protobuf-compiler
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@e12eda571dc9a5ee5d58eecf4738ec291c66f295
        with:
          targets: wasm32-unknown-unknown
          toolchain: stable
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@044a1e5bdace8dd2f727b1af63c1d9a1d3572068
        with:
          version: "0.22.0"
          # Tarpaulin Docs https://github.com/xd009642/tarpaulin
          # -e for exclude
          args: |
            -v --no-fail-fast --workspace
            -e frequency frequency-cli frequency-runtime frequency-service
            --exclude-files **/mock.rs **/weights.rs **/weights/* **/benchmarking.rs
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false # optional (default = false)
          verbose: true # optional (default = false)
